@charset "UFT-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgba(255, 255, 255, 1); */
}
body {
  height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  /* color: #fff; */
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  /* text-shadow: 0 0 10px rgba(255,255,255,1); */
}