@charset "UFT-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
}
body {
  height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  text-align: center;
  transform: rotate(-90deg);
}
.loading_circle {
  filter: drop-shadow(0 0 10px #fff);
  box-shadow: 0 0 10px #fff;
}
